<!DOCTYPE html>
<html>
<head>
<title>Messages</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

<h3>Received Messages</h3>

<table class="table table-bordered mt-4">

    <tr>
    <th>From</th>
    <th>Message</th>
    <th>Reply</th>
    <th>Action</th>
    </tr>
    
    {% for m in msgs %}
    <tr>
    <td>{{m.sender}}</td>
    <td>{{m.message}}</td>
    <td>{{m.reply if m.reply else "No reply yet"}}</td>
    
    <td>
    <a href="/reply/{{m._id}}" class="btn btn-primary btn-sm mt-2 w-100">Reply</a>
    </td>
    
    </tr>
    {% endfor %}
    
    </table>

</div>

</body>
</html>